Functions

In [1]:
def myfunc(list1):
    for i in list1:
        print(i)

In [2]:
list1=[45,67,89,33]

myfunc(list1)

45
67
89
33

In [3]:
def myfunc2(fruitlist):
    for i in fruitlist:
        print(i)

In [5]:
fruitlist=['Apple','Mango','Banana','Grapes']

myfunc2(fruitlist)

Apple
Mango
Banana
Grapes

In [6]:
def myfunc3(planetlist):
    for i in planetlist:
        print(i)

In [7]:
planetlist=['Mercury','Venus','Earth','Mars','Jupiter']

myfunc3(planetlist)

Mercury
Venus
Earth
Mars
Jupiter

In [8]:
def myfunc4():
    for i in range(10):
        print(i)

In [9]:
myfunc4()

0
1
2
3
4
5
6
7
8
9

In [10]:
def myfunc5():
    for i in range(2,21):
        print(i)

In [11]:
myfunc5()

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [12]:
def myfunc6():
    for i in range(2,21,2):
        print(i)

In [13]:
myfunc6()

2
4
6
8
10
12
14
16
18
20

In [14]:
def testfunc():
    for i in range(10):
        print(i)

In [15]:
testfunc()

0
1
2
3
4
5
6
7
8
9

In [16]:
def testfunction():
    for i in range(10):
        if(i==5):
            return
        print(i)

In [18]:
testfunction()

0
1
2
3
4

In [19]:
def myadd():
    a=100
    b=70
    c=a+b
    return c

In [20]:
myadd()

170

In [21]:
def innerfunction():
    print("we are in inner function")

In [22]:
def outerfunction():
    innerfunction()

In [23]:
outerfunction()

we are in inner function

In [24]:
def innerfunction():
    print("we are in inner function")

In [25]:
def outerfunction():
    innerfunction()
    print("outerfunction")

In [26]:
outerfunction()

we are in inner function
outerfunction

In [30]:
for i in range(20):
    if(i==10):
        break
    print(i)

0
1
2
3
4
5
6
7
8
9

In [31]:
def squaref():
    s=7*7
    return s

In [32]:
squaref()

49

Global and Local Variable

In [33]:
p=900
p

900

In [34]:
def testvar():
    p=100
    print(p)

In [35]:
testvar()

100

In [36]:
def testvar():
    global p
    print(p)
    p=78
    print(p)

In [37]:
testvar()

900
78

In [38]:
def add1(a,b):
    result=a+b
    print(result)

In [39]:
a=10
b=6

add1(a,b)

16

In [42]:
def add2(a,b,c):
    result=a+b+c
    print(result)

In [43]:
add2(34,67,88)

189

# Variable number of arguments

> In cases where we don't know the exact number of arguments that we want to pass to a function, we can use the 
the following syntax with *args.

> They work with aggregate funtions such as Sum, Min, Max etc......

> [*] = Many number of arguments.

In [1]:
def plusfunction(*args):
    return sum(args)

In [2]:
plusfunction(6,4,10)

20

In [4]:
plusfunction(2,2,1,4,5)

14

In [5]:
def maxfunction(*args):
    return max(args)

In [6]:
maxfunction(9,90,78,45)

90

In [7]:
maxfunction(19,80)

80

In [8]:
def minfunction(*args):
    return min(args)

In [9]:
minfunction(67,83,96)

67

In [15]:
def sumfunction(*numbers):
    s=0
    for n in numbers:
        s=s+n
        return s

In [16]:
print(sumfunction(1,2))

1

# Lambda(Anonymous)Function

> Suppose we want to add any variable with any number.
   Syntax:- Reference variable(a,b.......z) = lambda<variable name>:<expression>
        
> It is a small function containing a single expression. It can acts as anonymous function where it doesn't
  require any name.
    
> These are helpful when we have to perform small tasks with less code.

In [17]:
test=lambda x:x*2
test(5)

10

In [18]:
test1add=lambda x,y:x+y
test1add(3,4)

7

In [19]:
m=lambda x,y,z:x+y+z
m

In [20]:
m(1,2,3)

6

In [ ]:
# Find the square with lambda function

In [22]:
square=lambda x:x**2
square(4)

16

In [ ]:
# Find the square root with lambda function

In [23]:
sqroot= lambda x:x**(1/2)
sqroot(36)

6.0

In [25]:
t=int(6.0)
t

6

In [ ]:
# Find cube and cube root with lambda function

In [26]:
cube= lambda x:x**3
cube(5)

125

In [27]:
cbroot= lambda x:x**(1/3)
cbroot(27)

3.0

In [28]:
addvar=lambda arg1,arg2:arg1+arg2

print("Value of total: ",addvar(5,10))
print("Value of total: ",addvar(30,40))

Value of total:  15
Value of total:  70

In [29]:
def my_func(*args):
    for i in args:
        print('my args',i)

In [30]:
my_func('Test arguments',56,'India','One more',23432423924)

my args Test arguments
my args 56
my args India
my args One more
my args 23432423924

In [31]:
r=('quarter',78,90,34,'month')

for i in r:
    print(i)

quarter
78
90
34
month