Range Function in Python

In [1]:
range(5)

range(0, 5)

In [2]:
range(7)

range(0, 7)

In [3]:
range(15)

range(0, 15)

In [4]:
list(range(5))

[0, 1, 2, 3, 4]

In [5]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
a=list(range(5))
print(a)
a

[0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

In [10]:
for u in a:
    print(u)

0
1
2
3
4

In [13]:
b=list(range(10))
print(b)

for j in b:
    print(j)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
1
2
3
4
5
6
7
8
9

In [14]:
v=list(range(10))

for k in v:
    print(k,end=" ")

0 1 2 3 4 5 6 7 8 9

In [15]:
d=list(range(7))
d

[0, 1, 2, 3, 4, 5, 6]

In [16]:
for i in d:
    print(i)

0
1
2
3
4
5
6

In [17]:
for i in [0,1,2,3,4,5,6,7,8]:
    print(i)

0
1
2
3
4
5
6
7
8

# Decision Statements

In [ ]:
# IF-ElSE

In [18]:
marks=90

if marks>50:
    print("Good Marks")
else:
    print("Fair")

Good Marks

In [19]:
marks=10
if marks>50:
    print("Good Marks")
else:
    print("Fair")

Fair

In [20]:
marks=int(input("Enter any marks"))

if (marks>50):
    print("Excellent")
else:
    print("Not Good")

Enter any marks97
Excellent

In [21]:
y=int(input("Enter any number"))

if y%2==0:
    print("The number is even")
else:
    print("The number is odd")

Enter any number10
The number is even

In [23]:
# Alter

h=int(input("Enter any number"))

if h%2!=0:
    print("The number is odd")
else:
    print("The number is even")

Enter any number17
The number is odd

In [24]:
m=40

if(m>20):
    print("Good")
else:
    print("Average")
    print("end of if constructs")

Good

In [25]:
k=int(input("Enter any value"))

if(k%2==0):
    print("Value of k is ",k,"even number")
else:
    print("Value of k is ",k,"odd number")

Enter any value56
Value of k is  56 even number

In [27]:
marks=int(input("Enter any marks of student"))

if marks>=90:
    print("Excellent")
elif (marks>=80 and marks<90):
    print("Very Good")
elif (marks>=70 and marks<80):
    print("Good")
elif (marks>=60 and marks<70):
    print("Average")
elif (marks>=50 and marks<60):
    print("Below average")
else:
    print("Poor")

Enter any marks of student85
Very Good

Break statement

In [29]:
for i in ['Tulip','Rose','Marigold','Sunflower']:
    print(i)

Tulip
Rose
Marigold
Sunflower

In [36]:
for i in ['Tulip','Rose','Marigold','Sunflower']:
    if i=='Marigold':
        break
print(i)

Marigold

In [38]:
for j in [10,20,30,40]:
    if j==40:
        break
print(j)

40

Continue statement

In [39]:
for i in ['Tulip','Rose','Marigold','Sunflower']:
    if i=='Marigold':
        continue
print(i)

Sunflower

In [40]:
for j in [10,20,30,40,50,60]:
    if j==40:
        continue
print(j)

60

In [41]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [42]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
list(range(5,25))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [45]:
list(range(10,40))

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39]

In [46]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [47]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [48]:
for i in range(5,15):
    print(i)

5
6
7
8
9
10
11
12
13
14

In [ ]:
# Jump in range function

In [49]:
range(0,10,2)

range(0, 10, 2)

In [51]:
a=list(range(0,10,2))
a

[0, 2, 4, 6, 8]

In [52]:
list(range(0,25,5))

[0, 5, 10, 15, 20]

In [53]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [54]:
c=list(range(0,25,5))
c

[0, 5, 10, 15, 20]

In [55]:
for j in c:
    print(j)

0
5
10
15
20

In [57]:
d=list(range(10,50,10))
d

[10, 20, 30, 40]

In [ ]:
# Program to find the sum of all numbers stored in a list

In [58]:
numbers=[6,5,3,8,4,2,5,4,9]

sum=0

for val in numbers:
    sum=sum+val
    print(sum)
    print("The sum is ",sum)

6
The sum is  6
11
The sum is  11
14
The sum is  14
22
The sum is  22
26
The sum is  26
28
The sum is  28
33
The sum is  33
37
The sum is  37
46
The sum is  46

In [ ]:
# Program to iterate through a list using indexing

In [59]:
device=['laptop','mobile','radio','tv']

for i in range(len(device)):
    print("I like",device[i])

I like laptop
I like mobile
I like radio
I like tv

In [60]:
for val in "string":
    if val=="i":
        break
print(val)
print("The end")

i
The end

In [61]:
for val in "string":
    if val=="i":
        continue
print(val)

g

In [62]:
for val in "stringexample":
    if val=="i":
        continue
    else:
        if val=="x":
            break
    print(val)
    print(val)
    print("The end")

s
s
The end
t
t
The end
r
r
The end
n
n
The end
g
g
The end
e
e
The end

In [ ]:
# Program to find the greatest of three numbers

In [63]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
c=int(input("enter the value of c"))

if(a>b)&(a>c):
    print("A is greatest")
elif(b>a)&(b>c):
    print("B is greatest")
else:
    print("C is greatest")

enter the value of a78
enter the value of b67
enter the value of c34
A is greatest

In [ ]:
# Nested For Loop

In [69]:
l1=['Orange','Black','White']
l2=['Chair','Book','Laptop']

for i in l1:
    for j in l2:
        print(i,j)

Orange Chair
Orange Book
Orange Laptop
Black Chair
Black Book
Black Laptop
White Chair
White Book
White Laptop

In [ ]:
# Program for any number table

In [70]:
n=int(input("Enter the number"))
i=1

while(i<=10):
    print(n,"*",i,'=',n*i)
    i=i+1

Enter the number4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40