# OOPS(Object-Oriented Programming) in Python

Class and Objects

> The basic idea behind an OOP is to combine both data and associated prcedures(known as methods) into a single
  unit which operates on the data. such a unit is called an Object.
> Python is an oject-oriented language. everything in python is an object.
> Class is an architecture of the object. A user-defined prototype for an object that defines a set of attributes
  that characterize any object.
> The attributes are data members(class variables and instance variables)and methods,accessed via dot notation.
> Data member is a class variable/instance variable that holds data associated with a class and its objects.
> Instance is an individual object of a certain class. An object obj that belongs to a class Circle, for example,
  is an instance of the class Circle.
> Constructor is a special method. you can think of as a function which initializes/activates the attributes/
  properties of class for an object. Use Keyword __init__ to create a method for constructor.
    
    Ex: objCircle=Circle()
        
> Init is a method that is automatically called after object construction. It initializes every object state.

In [1]:
class Student:
    
    def __init__ (self,sid,sname):
        self.sid=sid
        self.sname=sname
    def displaydata(self):
        print("Student id=",self.sid,"Student name=",self.sname)

In [2]:
stud1=Student(101,"Jack")
stud1.displaydata()

Student id= 101 Student name= Jack

In [4]:
stud2=Student(102,"Andrew")
stud2.displaydata()

Student id= 102 Student name= Andrew

In [5]:
stud1.sid

101

In [6]:
stud1.sname

'Jack'

In [7]:
stud2.sid

102

In [8]:
stud2.sname

'Andrew'

In [11]:
class Employee:
    
    def __init__ (self,empid,empname,position):
        self.empid=empid
        self.empname=empname
        self.position=position
    def display(self):
        print('Empid=',self.empid,'Empname=',self.empname,'Position=',self.position)

In [12]:
emp1=Employee(201,'Lisa','Manager')
emp1.display()

Empid= 201 Empname= Lisa Position= Manager

In [13]:
emp2=Employee(201,'John','Director')
emp2.display()

Empid= 201 Empname= John Position= Director

In [14]:
class Student:
    
    fees=5000
    
    def __init__ (self,name,grade):
        self.name=name
        self.grade=grade
    def display(self):
        print('Name:',self.name,'Grade:',self.grade,'Fees:',self.fees)

In [15]:
stud1=Student('Jack',9)
stud1.display()

Name: Jack Grade: 9 Fees: 5000

In [16]:
stud1.fees

5000

In [17]:
stud1.grade

9

# Task

Create a class company.Declare 3 attributes name,location,number_of_employees. Now initialize the company class.

In [24]:
class Company:
    
    def __init__ (self,name,location,number_of_employees):
        self.name=name
        self.location=location
        self.number_of_employees=number_of_employees

In [25]:
c=Company('George','London',400)

print(c.name)
print(c.location)
print(c.number_of_employees)

George
London
400

In [27]:
class Car:
    
    def __init__ (self,color,company):
        self.company=company
        self.color=color
    def display(self):
        print('This is a',self.color,self.company)

In [28]:
def main():
    
    c=Car('Red','Ferrari')
    c.display()

In [29]:
if __name__=='__main__':
    main()

This is a Red Ferrari

In [30]:
class Employee:
    
    def __init__ (self,name,age):
        print("Initialized method called")
        self.name=name
        self.age=age
    def getdata(self,name,age):
        print("Get data method called")
        self.name=name
        self.age=age
    def displaydata(self):
        print('Hello',self.name,self.age)

In [31]:
def main():
    e=Employee('william',35)
    e.displaydata()
    e.getdata('john',25)
    e.displaydata()

In [32]:
if __name__=='__main__':
    main()

Initialized method called
Hello william 35
Get data method called
Hello john 25

# Task

Create a player class with name,age,sports associated with the player.

In [35]:
class Player:
    
    def __init__ (self,name,age,sport):
        print('Initialized data for players')
        self.name=name
        self.age=age
        self.sport=sport
    def getdata(self,name,age,sport):
        print('Getting data for players')
        self.name=name
        self.age=age
        self.sport=sport
    def displaydata(self):
        print('Player details:',self.name,self.age,self.sport)
    def main():
        
        p1=Player('Virat',35,'Cricket')
        p1.displaydata()
        p1.getdata('Richard',45,'Tennis')
        p1.displaydata()
        p2=Player('Dhoni',25,'Cricket')
        p2.displaydata()
        p2.getdata('Vivian',65,'Cricket')
        p2.displaydata()
        
    if __name__=='__main__':
        main()

Initialized data for players
Player details: Virat 35 Cricket
Getting data for players
Player details: Richard 45 Tennis
Initialized data for players
Player details: Dhoni 25 Cricket
Getting data for players
Player details: Vivian 65 Cricket

In [36]:
class Phone:
    
    def make_call(self):
        print("I am making a call")
    def play_game(self):
        print("I am playing a game")

In [37]:
p1=Phone()
p1.make_call()
p1.play_game()

I am making a call
I am playing a game

In [39]:
class Phone:
    
    def set_color(self,color):
        self.color=color
    def set_cost(self,cost):
        self.cost=cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost
    def make_call(self):
        print('Make a call')
    def play_game(self):
        print('Play a game')

In [43]:
p2=Phone()

p2.set_color('Blue')
p2.show_color()

'Blue'

In [44]:
p2.set_cost(5000)
p2.show_cost()

5000

In [48]:
p2.make_call()
p2.play_game()

Make a call
Play a game

In [ ]:
# Creating a class with constructor

In [52]:
class Employee:
    
    def __init__(self,name,age,salary,gender):
        self.name=name
        self.age=age
        self.salary=salary
        self.gender=gender
    def show_employee_details(self):
        print('Name of employee is',self.name)
        print('Age of employee is',self.age)
        print('Salary of employee is',self.salary)
        print('Gender of employee is',self.gender)

In [53]:
e1=Employee('Ram',32,50000,'Male')
e1.show_employee_details()

Name of employee is Ram
Age of employee is 32
Salary of employee is 50000
Gender of employee is Male

Inheritance:-
    
    With Inheritance,one class can derive the properties of another class.

In [55]:
class Vehicle:
    
    def __init__ (self,Mileage,Cost):
        self.Mileage=Mileage
        self.Cost=Cost
    def show_vehicle_details(self):
        print('Mileage of Vehicle is',self.Mileage)
        print('Cost of Vehicle is',self.Cost)
        print('I am a Vehicle')

In [57]:
V1=Vehicle(300,500)
V1.show_vehicle_details()

Mileage of Vehicle is 300
Cost of Vehicle is 500
I am a Vehicle

In [58]:
class Car(Vehicle):
    
    def show_car_details(self):
        print('I am a Car')

In [59]:
C1=Car(250,800)
C1.show_vehicle_details()

Mileage of Vehicle is 250
Cost of Vehicle is 800
I am a Vehicle

In [60]:
C1.show_car_details()

I am a Car

Over-riding Init method:-
    
    Here,we will add a new constructor in child class.
    we will use super(). method

In [61]:
class Vehicle:
    
    def __init__ (self,mileage,cost):
        self.mileage=mileage
        self.cost=cost
    def show_vehicle_details(self):
        print('Mileage of Vehicle is ',self.mileage)
        print('Cost of Vehicle is ',self.cost)
        print('I am a vehicle')

In [62]:
v1=Vehicle(300,500)
v1.show_vehicle_details()

Mileage of Vehicle is  300
Cost of Vehicle is  500
I am a vehicle

In [64]:
class Car(Vehicle):
    
    def __init__ (self,mileage,cost,tyres,hp):
        
        super(). __init__ (mileage,cost)
        self.tyres=tyres
        self.hp=hp
    def show_car_details(self):
        print('No. of tyres in car: ',self.tyres)
        print('Horse power of a car: ',self.hp)
        print('I am a car')

In [65]:
c1=Car(600,1000000,8,999)

c1.show_car_details()

No. of tyres in car:  8
Horse power of a car:  999
I am a car

In [66]:
c1.show_vehicle_details()

Mileage of Vehicle is  600
Cost of Vehicle is  1000000
I am a vehicle

Multiple Inheritance:-
    
    In this, the child inherits from more than 1 parent class.

In [68]:
class Parent1:
    
    def assign_string_one(self,str1):
        self.str1=str1
    def show_string_one(self):
        return self.str1

In [76]:
class Parent2:
    
    def assign_string_two(self,str2):
        self.str2=str2
    def show_string_two(self):
        return self.str2

In [77]:
class Child(Parent1,Parent2):
    
    def assign_string_three(self,str3):
        self.str3=str3
    def show_string_three(self):
        return self.str3

In [78]:
my_child=Child()

In [79]:
my_child.assign_string_one('I am a string of Parent1')

In [80]:
my_child.assign_string_two('I am a string of Parent2')

In [81]:
my_child.assign_string_three('I am a string of Child')

In [82]:
my_child.show_string_one()

'I am a string of Parent1'

In [83]:
my_child.show_string_two()

'I am a string of Parent2'

In [84]:
my_child.show_string_three()

'I am a string of Child'

Multi-Level Inheritance:-

In [85]:
class Parent:
    
    def get_name(self,name):
        self.name=name
    def show_name(self):
        return self.name

In [86]:
class Child(Parent):
    
    def get_age(self,age):
        self.age=age
    def show_age(self):
        return self.age

In [87]:
class Grandchild(Child):
    
    def get_gender(self,gender):
        self.gender=gender
    def show_gender(self):
        return self.gender

In [88]:
gc=Grandchild()

In [89]:
gc.get_name('AVINASH')

In [90]:
gc.get_age(21)

In [91]:
gc.get_gender('Male')

In [92]:
gc.show_name()

'AVINASH'

In [93]:
gc.show_age()

21

In [94]:
gc.show_gender()

'Male'